/* Contenedor principal */
.servicios-container {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin: 20px auto;
    max-width: 200%; /* Ajuste del ancho máximo del contenedor */
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: hidden;
    padding: 10px;
    scroll-behavior: smooth;
}

/* Tarjeta de servicio */
.servicio {
    width: 300px;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
    justify-content: space-between; /* Distribuye el espacio */
}

    .servicio:hover {
        transform: translateY(-5px);
    }

    /* Estilo de encabezado */
    .servicio .header {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        padding: 10px 0;
        width: 100%;
        text-transform: uppercase;
        border-bottom: 2px solid #007bff;
        margin-bottom: 10px;
    }

    /* Sección de imagen */
    .servicio .imagen {
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 15px;
    }

        .servicio .imagen img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }

    .servicio:hover .imagen img {
        transform: scale(1.1);
    }

    /* Precio */
    .servicio .precio {
        font-size: 20px;
        color: #007bff;
        font-weight: bold;
        margin: 10px 0;
    }

    /* Descripción del servicio */
    .servicio .descripcion p {
        font-size: 20x;
        color: #555;
        padding: 0 15px;
        line-height: 1.5;
        flex-grow: 1; /* Expande el texto para empujar el botón hacia abajo */
        text-align: justify; /* Justifica el texto */
    }

    /* Botón de contratar */
    .servicio .contratar-btn {
        font-size: 18px;
        padding: 12px 25px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-top: 15px;
        transition: background-color 0.3s ease;
        align-self: stretch; /* Hace que el botón ocupe todo el ancho disponible */
        text-align: center;
    }

        .servicio .contratar-btn:hover {
            background-color: #0056b3;
        }
